<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head th:replace="includes/header :: header">
</head>
<body>
    <script th:src="@{/js/crypto.js}" src="/static/js/crypto.js"></script>

    <script id="cryptoAsset" type="x-tmpl-mustache">
            <tr id="snapshot-{{pairName}}" class="{{assetStatus}}">
                <td id="pairColumn-{{pairName}}">{{pairName}}</td>
            </tr>
    </script>

    <script id="snapshot" type="x-tmpl-mustache">
        <td class="{{textClass}}" id="{{name}}-{{pairName}}" data-order="{{change}}">{{close}} {{change}}</td>
    </script>

    <script id="crypto-action" type="x-tmpl-mustache">
        <td>
            <button type="button" class="btn btn-info btn-sm" mode="{{mode}}" id="btn-{{pairName}}" pairId="{{pairName}}">{{mode}}</button>
        </td>
    </script>

    <div class="container-fluid">
        <div class="row mt-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="index">All Crypto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="myTab">My Assets</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <table id="cryptoTable" class="table ml-1 table-bordered table-dark table-hover table-sm table-striped" style="width:100%">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Asset</th>
                        <th scope="col">Now</th>
                        <th scope="col">1h</th>
                        <th scope="col">4h</th>
                        <th scope="col">12h</th>
                        <th scope="col">24h</th>
                        <th scope="col">7d</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="content">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:replace="includes/header :: footer"></div>
</body>
</html>