<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head th:replace="includes/header :: header">
</head>
<body>
    <script th:src="@{/js/crypto.js}" src="/static/js/crypto.js"></script>

    <script id="cryptoAsset" type="x-tmpl-mustache">
        <div class="card border-dark col-sm-3 pr-0 pl-0 mb-1 ml-1" id="pair-{{pairName}}">
            <div class="card-header text-white bg-primary">
                <div class="float-left">
                    <h6>{{pairName}} - {{close}}</h6>
                </div>
                <div class="float-right">
                    <button type="button" class="btn btn-info" mode="{{mode}}" id="btn-{{pairName}}" pairId="{{pairName}}">{{mode}}</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row"  id="snapshot-{{pairName}}">
                </div>
            </div>
        </div>
    </script>

    <script id="snapshot" type="x-tmpl-mustache">
        <div class="card border-dark col-sm-5 pr-0 pl-0 mb-1 ml-1">
            <div class="card-header"><h6>{{name}}</h6></div>
            <div class="card-body">
                <p class="{{textClass}}">{{close}} ({{change}})%</p>
            </div>
        </div>
    </script>

    <div class="container-fluid">
        <div class="row mt-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="index">All Crypto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="myTab">My Assets</a>
                </li>
            </ul>
        </div>
        <div class="row" id="content">

        </div>
    </div>

    <div th:replace="includes/header :: footer"></div>
</body>
</html>